/* @link https://utopia.fyi/type/calculator?c=320,18,1.2,1240,20,1.25,8,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
:root {
  /* Step -2: 12.5px → 12.8px */
  --step--2: clamp(0.7813rem, 0.7747rem + 0.0326vw, 0.8rem);
  /* Step -1: 15px → 16px */
  --step--1: clamp(0.9375rem, 0.9158rem + 0.1087vw, 1rem);
  /* Step 0: 18px → 20px */
  --step-0: clamp(1.125rem, 1.0815rem + 0.2174vw, 1.25rem);
  /* Step 1: 21.6px → 25px */
  --step-1: clamp(1.35rem, 1.2761rem + 0.3696vw, 1.5625rem);
  /* Step 2: 25.92px → 31.25px */
  --step-2: clamp(1.62rem, 1.5041rem + 0.5793vw, 1.9531rem);
  /* Step 3: 31.104px → 39.0625px */
  --step-3: clamp(1.944rem, 1.771rem + 0.8651vw, 2.4414rem);
  /* Step 4: 37.3248px → 48.8281px */
  --step-4: clamp(2.3328rem, 2.0827rem + 1.2504vw, 3.0518rem);
  /* Step 5: 44.7898px → 61.0352px */
  --step-5: clamp(2.7994rem, 2.4462rem + 1.7658vw, 3.8147rem);
  /* Step 6: 53.7477px → 76.2939px */
  --step-6: clamp(3.3592rem, 2.8691rem + 2.4507vw, 4.7684rem);
  /* Step 7: 64.4973px → 95.3674px */
  --step-7: clamp(4.0311rem, 3.36rem + 3.3555vw, 5.9605rem);
  /* Step 8: 77.3967px → 119.2093px */
  --step-8: clamp(4.8373rem, 3.9283rem + 4.5448vw, 7.4506rem);
}

/* color variables for this project */
:root {
  --color-dark-gray: #1e1e1e;
  --color-dark-gray-plus1: #282828;
  --color-dark-gray-plus3: #3c3c3c;
  --color-dark-gray-plus2: #323232;
  --color-dark-gray-plus4: #4b4b4b;
  --color-text-color: #eeeeee;
  --color-text-color-dark: #1a1a1a;
  --color-bv-green: #79fe9d;
  --color-bv-green-hover-bg: #313833;
  --color-bv-blue: #1d43c6;
  --color-bv-orange: #f9a86f;
  --color-bv-dark-orange: #e09763;
  --color-bv-citrine-white: #f9ead4;
  --color-bv-text-color-dark: #11133c;
  --color-bv-light-bg: #fcf8f3;
}

@font-face {
  font-family: 'JetBrains Mono';
  src:
    url('./fonts/JetBrainsMono-Italic-VariableFont_wght.ttf') format('ttf supports variations'),
    url('./fonts/JetBrainsMono-Italic-VariableFont_wght.ttf') format('ttf-variations');
  font-weight: 100 1000;
}

body {
  min-height: 100vh;
  color: var(--color-text-color);
  background: var(--color-dark-gray);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family: 'JetBrains Mono', monospace;
  font-size: var(--step-0);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
